.note {
	display: none;
	background: url(spacer.gif); 
	border: 2px solid rgb(255, 255, 255); 
	overflow: hidden; 
	position: absolute; 
	z-index: 0;
	cursor: text;
}

.note_link {
	cursor: pointer;
}

.notep {
	display: none; 
	background: #eee; 
	font-family: Tahoma, helvetica, sans-serif;
	font-size: 8pt; 
	margin-top: 0px; 
	padding: 2px;
	position: absolute;
	width: 175px;
	height: auto;
	cursor: text;
}

#NoteForm {
	display: none;
	position: absolute;
	width: 360px;
	padding: 10px;
	background-color:#f8f8f8;
	border: solid 4px #a0a0a0;
}

#NoteForm textarea{
	width: 100%;
}
