html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* ******* */
/* LIL     */
/* ------- */
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.nowrap {
	white-space: nowrap;
}
.altrow {
	background-color: #f9f9f9;
}
.highlight {
	background-color: #FDF7E1;
	cursor: pointer;
}
.light {
	color: #7E7E7E;
}
.strong {
	font-weight: bold;
}
.big {
	font-size: 18px;
}
.small {
	font-size: 10px;
}
.minwidth {
	width: 1px;
}

.list div.thumb {
	float: left;
	text-align: center;
	width: 150px;
	height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid 1px #f0f0f0;
	font-size: 1em;
}

.list div.thumb img {    /*hidden from IE 5-6 */
	margin-top: 0; /* to clean up, just in case IE later supports valign! */
	vertical-align: middle;
	}


.index table * {
	font-family: Verdana, Arial, helvetica, sans-serif;
}
.index table {
	width: 100%;
	border: solid 1px #646464;
}
.index th {
	padding: 5px;
	background-color: #e0e0e0;
	border-bottom: solid 1px #b0b0b0;
}
.index td {
	padding: 5px;
	border-left: solid 1px #e0e0e0;
	border-top: solid 1px #e0e0e0;
}
.index td div.overflow {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 22px !important;
	line-height: 24px;
	margin-top: 3px;
}
.index td.actions {
	width: 1px;
}
.index tfoot td {
	border-top: solid 1px #b0b0b0;
	background-color: #e0e0e0;
}
.index tfoot td.paging div, .index tfoot td.paging a {
	float: left;
	margin-left: 10px;
}
.paging a.next {
	margin-left: 10px;
}
span.next {
	margin-left: 10px;
}

.index tfoot td.paging div.counter {
	float: right;
}


.form * {
	font-family: Tahoma, Arial, helvetica, sans-serif;
}

.form fieldset {
	margin-bottom: 10px;
	border: none;
	border-top: solid 1px #b0b0b0;
}
.form fieldset legend {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}
.form .input {
	margin-top: 5px;
}
.form .input label {
	text-align: left;
	display: block;
	float: left;
	overflow: hidden;
	width: 120px;
	height: 18px !important;
	margin-right: 15px;
	margin-top: 5px;
}

.form .text input, .file input, .form select, .form textarea, .password input {
	padding: 2px;
}
.form .error input, .form .error textarea {
	border: solid 1px #ff0000;
}
.form .checkbox input, .form .radio input {
	margin-left: 135px;
	margin-right: 5px;
	display: block;
	float:left;
}
.form .checkbox label, .form .radio label {
	text-align: left;
	font-weight: normal;
	display: block;
	float: none;
	width: auto;
	padding-top: 5px;
}
.form .radio_row .row {
	margin-left: 135px;
}
.form .radio_row .row input {
	display: block;
	float:left;
	margin-left: 0px;
}
.form .radio_row .row label {
	display: block;
	float:left;
	margin-left: 0px;
	margin-right: 20px;
	width: auto;
}

.form .hint {
	font-size: 12px;
	padding: 2px;
	margin-left: 135px;
}

.form .submit {
	margin-top: 10px;
	margin-left: 135px;
}
.form .submit input {
	font-weight: bold;
	padding-left: 12px;
	padding-right: 12px;
}
.form .error-message {
	color: #ff0000;
	font-size: 80%;
	margin-left: 135px;
}

#ProfileLogin .error-message {
    margin-left: 0px;
    font-weight: normal;
}


/* ******* */
/* COMMONS */
/* ------- */
a, span.link {
	color: #1166c6;
	cursor: pointer;
}
a:hover, span.link:hover {
	text-decoration: none;
	color: #990000;
}

input, select, option, textarea {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: .9em;
}

label {
	color: #808080;
	font-size: .8em;
}
.row label {
	color: #000000;
}
.n_a {
	font-size: .9em;
	color: #808080;
	font-style: italic;
}
.small {
	font-size: .8em;
}

.editinplace:hover {
	background-color: #ffffcc;
}

img.icon {
	margin-right: 5px;
	padding-top: 0px;
}

.javascript_action {
	display: none;
}

#container {
	width: 960px;
	margin-left: auto !important;
	margin-right: auto !important;
}

#content {
	position: relative;
}

/* ******* */
/* FOOTER  */
/* ------- */
#footer {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	clear: both;
	border-top: solid 1px #CCCCCC;
	margin-top: 30px;

	padding: 10px;
	padding-top: 5px;
}

/* ******* */
/* SIDEBAR */
/* ------- */
#sidebar, #DashboardSidebar {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	display: block;
	float: left;
	left: 0px;
	width: 220px;
	/*border: solid 1px #CCCCCC;*/
	margin-right: 10px;
	margin-bottom: 20px;
}

#sidebar h1, #DashboardSidebar h1 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
}

#sidebar ul, #DashboardSidebar ul {
}
#sidebar ul li, #DashboardSidebar ul li {
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 2px;
	padding-right: 5px;
}
#sidebar ul li.active, #DashboardSidebar ul li.active {
	background-color: #e8e8e8;
}
#sidebar ul li.active a, #DashboardSidebar ul li.active a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

#sidebar #ProfileHeadshot, #SidebarAttachmentPreview {
	text-align: center;
	margin-bottom: 20px;
}
#sidebar #ProfileHeadshot img, #SidebarAttachmentPreview img {
	width: 150px;
}

#sidebar_hint {
	padding: 10px;
	color: #404040;
	background-color: #fff9df;
	border: solid 1px #fceda8;
}
#sidebar_hint p {
	padding-bottom: 10px;
}

/* ******** */
/* MESSAGES */
/* -------- */
.message, #flashError {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	padding-left: 230px;
	color: #85530d;
	background-color: #ffedbf;
}
#flashMessage {
	color: #30503b;
	background-color: #ddeea7;
}
#errorMessage, #flashError {
	color: #720000;
	background-color: #ffcfcd;

}
/* ******* */
/* CONTENT */
/* ------- */
#main {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#main h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 15px;
}

#main .panel, #sidebar .panel {
	margin-bottom: 20px;
	margin-left: 5px;
	border: solid 1px #CCCCCC;
}
.panel .inner {
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	margin-top: -2px;
	margin-bottom: -2px;
	display: block;
	background-color: #FFFFFF;
}
#main .panel div.legend, #sidebar .panel div.legend {
	padding: 5px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #e8e8e8;
	border-bottom: solid 1px #CCCCCC;
}
#main .panel div.legend a {
	display: block;
	float: right;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: .7em;
	font-weight: bold;
	padding-top: 2px;
}
#main .panel div.legend a.javascript_action {
	display: none;
}
#main .panel div.body {
	/*background-color: #f8f8f8;*/
	border-top: solid 1px #ffffff;
	border-bottom: solid 1px #e8e8e8;
}
#main .panel div.body div.n_a {
	padding: 10px;
}
#main .panel div.dropdown {
	background-color: #f8f8f8;
	padding: 10px;
	border: solid 1px #e8e8e8;
}

/* **************** */
/* PAGINATOR        */
/* ---------------- */
.paginator {
	padding-top: 5px;
	border-top: solid 1px #DDDDDD;
    text-align: center;
    display: block;
    clear: both;
}
.paginator li {
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    padding: 3px;
}
.paginator li.active {
    border: solid 1px #DDDDDD;
    text-decoration: none;
    color: #000000;
}
.paginator .light {
	color: #e8e8e8;
}
.paginator .prev {
	display: block;
	float: right;
}
.paginator .next {
	display: block;
	float: left;
}
/* **************** */
/* TEXTAREA RESIZER */
/* ---------------- */

div.grippie {
	background: #EEEEEE url(img/grippie.png) no-repeat scroll center 2px;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0pt 1px 1px;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 504px;
	cursor:s-resize;
	height:9px;
}

.resizable-textarea textarea {
	margin: 0px;
	width: 100%
}

.resizable-textarea {
	width: 500px;
	margin-left: 135px;
	padding: 0px;
}

#FormEditPostMain {
	margin-bottom: 40px;
}

#FormEditPost #PostTitle, #FormEditPost #PostAuthorTitle,
#PostTitle, #PostBody,
#AttachmentTitle, #AttachmentDescription
{
	width: 500px;
}
#FormEditPost #PostBody {
    resize: none;
	height: 400px;
}
#AttachmentDescription {
    resize: none;
}

#ProfileInfoPanel {
	margin-bottom: 20px;
	margin-left: 5px;
}

#ProfileAttachments {
	padding-left: 10px;
}

#ProfileAttachmentFooter {
	overflow: hidden;
	font-size: .7em;
	color: #404040;
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 10px;
	background-color: #f8f8f8;
	border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8;
}

.profile_attachment {
	text-align: center;
	display: block;
	overflow: hidden;
	float: left;
	position: relative;
	height: 75px;
	width: 75px;
	margin: 10px;
	margin-left: 0px;
	padding: 5px;
	background-color: #f8f8f8;
	border: solid 1px #e8e8e8;
}

.profile_attachment ._actions, .note ._actions {
	display: block;
	position: absolute;
	padding: 0px;
	left: 5px;
	top: 5px;
	height: 12px;
}
.profile_attachment ._actions a, .note ._actions a {
	display: block;
	float: left;
	height: 12px;
	padding: 2px;
	margin-right: 5px;
	background-color: #e8e8e8;
	border-top: solid 1px #f8f8f8;
	border-left: solid 1px #f8f8f8;
	border-bottom: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
}
.profile_attachment ._actions a:hover, .note ._actions a:hover {
	border-color: #990000;
}

/* **************** */
/* LABEL-VALUE LIST */
/* ---------------- */
ul.label_value li {
	padding-bottom: 2px;
	padding-top: 2px;
	display: block;
	position: relative;
}
ul.label_value li.hr {
	margin-bottom: 8px;
}
ul.label_value li.hr_top {
	margin-top: 8px;
}
#sidebar ul.label_value {
	padding-top: 2px;
}
#sidebar ul.label_value li {
	padding-bottom: 2px;
	height: 12px;
}
ul.label_value li span.label {
	display: block;
	position: absolute;
	width: 120px;
	font-size: .7em;
	color: #808080;
	margin-top: 2px;

}
#sidebar ul.label_value li span.label {
	display: block;
	width: 60px;
	position: absolute;
	margin-top: 3px;
}

ul.label_value li .value {
	display: block;
	margin-left: 120px;
}
#sidebar ul.label_value li .value {
	position: absolute;
	margin-left: 0px;
	left: 65px;
}
ul.label_value li .value div {
	margin-bottom: 5px;
}
ul.label_value li select {
	font-size: 1em;
	color: #808080;
}

/* *************** */
/* sidebar TABLIST */
/* --------------- */
#sidebar .tab_list {
	display: block;
	z-index: -99999;
}
#sidebar .tab_list ul {
	border-top: solid 1px #CCCCCC;
}
#sidebar .tab_list ul li {
	padding: 10px;
	margin: 0px;
	border: solid 1px #CCCCCC;
	border-top: none;
	background-color: #f0f0f0;
}
#sidebar .tab_list ul li.active {
	border-right: solid 1px #ffffff;
	background-color: #ffffff;
}

/* *************** */
/* Per element CSS */
/* --------------- */
#EditProfile div.tab {
	margin-left: -11px;
	border: solid 1px #CCCCCC;
	padding: 20px;
}
#EditProfileTabPersonal fieldset div.text input {
	width: 300px;
}
#EditProfileTabInterests fieldset div.text input {
	width: 300px;
}

#ProfileSettings {
	margin-left: -11px;
	border: solid 1px #CCCCCC;
	padding: 20px;
}
#ProfileSettings div.tab ul li h1 {
	font-size: 20px !important;
	margin-bottom: 5px;
}
#ProfileLogin {
	width: 250px;
	height: 356px;
	position: relative;

	margin-left: auto !important;
	margin-right: auto !important;
	background: url(img/login.gif) center top no-repeat;
}
#ProfileLogin #YourFather, #ProfileLogin #YourMother {
	position: absolute;
	display: block;
	top: 85px;
	left: 21px;
	width: 90px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #404040;
}
#ProfileLogin #YourMother {
	left: 141px;
}
#ProfileLogin form {
	position: absolute;
	display: block;
	top: 160px;
}
#ProfileLogin div.input, #ProfileLogin div.submit {
	position: relative;
	left: 21px;
	width: 210px;
	text-align: center;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 5px;
}
#ProfileLogin label {
	color: #000;
	margin: 0px;
	padding: 0px;
	display: block;
	float: none;
	width: 210px;
	text-align: center;
	font-weight: normal;
}
#ProfileLogin input {
	width: 140px;
	text-align: center;
	font-weight: bold;
}

#ProfileLogin div.checkbox {
	margin-top: 10px;
	margin-bottom: 10px;
}
#ProfileLogin div.checkbox input {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	float: left;
	margin-right: 10px;
	margin-left: 50px;
}
#ProfileLogin div.checkbox label {
	margin: 0px;
	padding: 0px;
	float: none;
	display: block;
	width: auto;
	text-align: left;
}
#AttachmentDetails {
	background-color: #f0f0f0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	padding: 4px;
	color: #606060;
	margin-bottom: 10px;
}

.index_attachment {
	display: block;
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.index_attachment a img {
	height: 100px;
}
.index_attachment ._title {
	font-size: 10px;
}

/* POSTS */
.dashboard_post, .profile_post {
	margin-bottom: 30px;
}
.dashboard_post ._header, #PostView ._header, .profile_post ._header {
	font-size: .7em;
	color: #404040;
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 5px;
	background-color: #f8f8f8;
	border: solid 1px #e8e8e8;
}
.dashboard_post ._actions, #PostView ._actions, .profile_post ._header ._actions {
	display: block;
	float: right;
	width: auto;
}
.dashboard_post ._header h1, #PostView ._header h1, .profile_post ._header h1   {
	margin: 0px !important;
	padding: 0px !important;
	margin-bottom: 3px !important;
}
.dashboard_post ._header h1 a, .profile_post ._header h1 a {
	color: #404040;
	text-decoration: none;
}
.dashboard_post ._header h1 a:hover, .profile_post ._header h1 a:hover {
	text-decoration: underline;
	color: #990000;
}
.dashboard_post ._body, #PostView ._body, .profile_post ._body  {
	padding: 10px;
	padding: 10px;
	line-height: 1.1em;
	font-size: .9em;
}
.dashboard_post ._body p, #PostView ._body p, .profile_post ._body p {
	margin-bottom: 12px;
}
.dashboard_post ._readmore, .profile_post ._readmore {
	text-align: right;
	margin-top: 10px;
	font-size: .9em;
}

.dashboard_post #ProfileHeadshot {
    display: block;
    float: left;
    margin-left: -135px;
}
.dashboard_post #ProfileHeadshot img {
    width: 100px;
    border-radius: 50%;
}

#DashboardDates .date_title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #808080;
	border-bottom: solid 1px #e8e8e8;
	padding-bottom: 4px;
	margin-bottom: 4px;
	margin-top: 20px;
}

#DashboardDates .date_birthday {
	font-size: 14px;
	padding-bottom: 8px;
	padding-left: 30px;
}

#DashboardDates .date_birthday img {
	margin-right: 5px;
}

#WelcomeMessage {
	font-weight: normal;
	color: #000000;
	padding-left: 30px;
}

li.at_ix_flt a {
	display: block;
	padding: 3px;
}

#DashboardSidebar {
	display: block;
	float: right;
	width: 220px;
	margin-left: 10px;
	margin-right: 0px;
}

#DashboardMain {
	width: 505px;
}

#DashboardSearchFieldset {
	padding-top: 10px;
	padding-bottom: 10px;
}

#SidebarStatsCntF, #SidebarStatsCntM {
	display: block;
	float: left;
	clear: none;
	width: 70px;
	color: #808080;
	font-size: 10px;
	margin-left: 30px;
	padding-bottom: 5px;
}
#SidebarStatsCntM {
	float: right;
	margin-left: 0px;
	margin-right: 30px;
}
#SidebarStatsCntF span, #SidebarStatsCntM span {
	display: block;
	font-size: 32px;
	color: #404040;
	font-weight: bold;
}
#SidebarStatsCntTotal {
	display: block;
	clear: right;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-top: solid 1px #a0a0a0;
	font-size: 11px;
	color: #808080;
}

#IndexSearchPaginateHeader {
	margin-top: -15px;
	margin-bottom: 20px;
}

.alt_row {
	background-color: #f0f0f0;
}

.profile_list {
	padding: 5px;
}

.profile_list td {
	padding: 5px;
	vertical-align: top;
}

.profile_list_ta {
	width: 50px;
	text-align: center;
}
.profile_list_ta a {
	width: 40px;
}
.profile_list_ta img {
	width: 40px;
	margin: 0px !important;
	padding: 0px !important;
}
.profile_list_actions {

}
.profile_list_actions ul {
}
.profile_list_actions ul li {
	padding: 0px;
}
.profile_list_actions ul li a {
	font-size: 11px;
}

.profile_list_data {
	font-size: 12px;
}
.profile_list_data h1 {
	font-size: 20px !important;
	margin-bottom: 5px !important;
	margin-top: 0px !important;
	padding-top: 0px !important;
}

#AttachmentsLinkForm {
    display: none;
}
