html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

html {
	height:100%;
	background-color:#eef0dd;
}
body {
	position:relative;
	height:100% !important;
	width:100% !important;
	/*min-height:466px;*/
	margin:0;
}
img {
	border: none;
}
#header_container {
	position: absolute;
	display: block;
	top: 0px;
	height: 90px;
	width: 100%;
	background-color: #ffffff;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

#header, #navigation {
	width: 960px;
	margin-left: auto !important;
	margin-right: auto !important;

	margin: 0px;
	padding: 0px;
}

#navigation ul li.active {
	background-color:#eef0dd;
	border-bottom: solid 1px #eef0dd;
}

#login_window {
	position: absolute;
	right: 200px;
	top: 0px;
	font-family:Arial, Helvetica, sans-serif;
}
#login_window a {
	font-family:Arial, Helvetica, sans-serif;
}
#tree_window {
	width:100%;

	position:absolute;
	top:101px;
	left:0;
	bottom: 0px;
	/*background-color:#eef0dd;*/
	overflow:hidden;
	z-index:1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#tree_centerer {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:4.833em;/*8.5*/
	margin-left:-4em;
}
#tree {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:4.833em;/*8.5*/
	margin-left:-4em;
}

#nodes {
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
}
#nodes a {
	color:inherit;
	text-decoration:inherit;
}
#nodes li.node {
	position:absolute;
	width:7.833em;	/* 8em (96px) */
	height:9.5em;	/* 9.666em (116px) */
	border:1px solid;
	text-align:center;
	font-weight:bold;
	z-index:3;
}
#nodes li.m {
	border-color:#a6daf1 #64a7c4 #64a7c4 #a6daf1;
	/*background:-webkit-gradient(linear, left top, left bottom, from(#d9f5fd), to(#a9d0e6));*/
	background:#bddff0 url(tree/blue_gradient.png) repeat-x scroll center center;
}
#nodes li.f {
	border-color:#ffb0e8 #ee8ad1 #ee8ad1 #ffb0e8;
	/*background:-webkit-gradient(linear, left top, left bottom, from(#ffebfa), to(#ffcafa));*/
	background:#ffd7fa url(tree/pink_gradient.png) repeat-x scroll center center;
}
#nodes li.m_d {
	border-color:#a6daf1 #64a7c4 #64a7c4 #a6daf1;
	/*background:-webkit-gradient(linear, left top, left bottom, from(#d9f5fd), to(#a9d0e6));*/
	background:#bddff0 url(tree/blue_gradient_2.png) repeat-x scroll center center;
}
#nodes li.f_d {
	border-color:#ffb0e8 #ee8ad1 #ee8ad1 #ffb0e8;
	/*background:-webkit-gradient(linear, left top, left bottom, from(#ffebfa), to(#ffcafa));*/
	background:#ffd7fa url(tree/pink_gradient_2.png) repeat-x scroll center center;
}
#nodes li.main {
	/*background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));*/
	background:#f5f5f5 url(tree/white_gradient.png) repeat-x scroll center center;
}
#nodes li div.avatar_wrap {
	text-align: left;
	padding-top: .4em;
	padding-left: .75em;
	padding-right: .4em;
	padding-bottom: .5em;
}
#nodes li img.avatar {
	width:3.9em;
	height:3.9em;
	/*margin:0.75em 2em .6em;*/
	margin: 0px;
	margin-top: .35em;

	border:.083em solid;
	border-color:#d8d8d8 #fff #fff #d8d8d8;
	display:block;
}
#tree .user img.avatar {
	border-width:.167em; /* ($line_w * 2); */
	border-color:#3167b4 #51b4ed #51b4ed #3167b4;
}
#nodes li div.icon_wrap {
	display: block;
	float: right;
	width: 1.494;
	height: 4em;
}
#nodes li div.icon_wrap .ico_tree {
	width: 1.328em;
	height: 1.328em;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
}
#nodes li div.icon_wrap .ico_tree img {
	width: 1.328em;
	height: 1.328em;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
}
#nodes li div.icon_wrap span.ico_media {
	display: block;
	width: 1.328em;
	height: 1.328em;
	padding: 0px;
	margin: 0px;
	background: url(tree/bg_media.gif) 0 0 no-repeat;
	text-align: center;
	margin-bottom: 3px;
}
#nodes li div.icon_wrap span.ico_memories {
	display: block;
	width: 1.328em;
	height: 1.328em;
	padding: 0px;
	margin: 0px;
	background: url(tree/bg_heart.gif) 0 0 no-repeat;
	text-align: center;
}

#tree .user a {
	color: #000000;
	text-decoration: none;
}
#tree .user a:hover {
	text-decoration: underline;
}
#nodes li .minor {
	font-weight: normal;
	font-style: italic;
}
#tree a.ghost {
	text-decoration:underline;
	font-size:120%;
	margin-top:1.5em;
	font-weight:bold;
	display:block;
}
#tree sub {
	display:block;
	font-weight:normal;
}
#tree .p {
	display:block;
	position:absolute;
	text-align:center;
	width:2.25em;	/* 27px */
	height:1.416em;	/* 17px */
	top:-1.416em;
	right:0.916em;	/* 11px */
	/*padding-top:0.166em;	 2px; */
	-webkit-text-size-adjust:none;
	background:url(tree/prune.png) no-repeat scroll 50% 90%;
	/*background:url(tree/prunes.png) repeat-y scroll 0 221.06632em;*/
	color: #ffffff;
}
#tree .p * {
	font-size:80%;
}

#unions {
	position:absolute;
	top:0;
	z-index:2;
}
#unions div {
	position:absolute;
	background:inherit;
	border:0.167em none #999;	/* ($line_w * 2) */
	z-index:2;
	line-height:0;
	height:0;
	text-indent:-20000px;
}
#unions .c {
	height:auto;
}
#unions .d_r {
	border-color:black;
	z-index:300;
}
#unions .s {
	position:static;
}
#unions .d {
	border-top-style:solid;
}
#unions .d.x {
	border-top-style:dashed;
}
#unions .a {
	border-bottom-style:solid;
}
#unions .a.x {
	border-bottom-style:dashed;
}
#unions .v {
	border-left-style:solid;
}
#unions .rb {
	border-style:none solid solid none;
}
#unions .rbl {
	border-style:none solid solid solid;
}

#zoomer {
	position:absolute;
	left:27px;
	bottom:44px;
	width:86px;
	height:293px;
	background-image:url(tree/zoom.png);
	z-index:4;
}
#zoomer * {
	line-height:0;
}
#zoom_track {
	width:38px;
	height:198px;
	position:absolute;
	left:24px;
	top:1px;
}
#zoom_slider {
	width:32px;
	height:10px;
	position:absolute;
	left:27px;
	top:0;
	margin-top:25px;
	background-image:url(tree/zoom-slider.png);
	cursor:move;
}
#zoomer img {
	width:28px;
	height:28px;
	position:absolute;
	left:29px;
	top:236px;
	cursor:pointer;
}

@media print {
	html {
		background-color:white;
	}
	#zoomer {
		display:none;
	}
}

/* Poupups */
.popup {
    position: absolute;
    top: .4em;
    left: 7.9em;
    background-color:#fff;
    margin-top: .2em;
    padding: .2em;
    border: 1px solid #000000;
    border-left: none;
    z-index: 9999;
}
#nodes li.m .popup {
	border-color: #64a7c4;
	border-left: none;
}
#nodes li.f .popup {
	border-color: #ee8ad1;
	border-left: none;
}
.popup ul {
	list-style-type: none;
	display: block;
	position: auto;
	float: none;
	padding: 0px;
	margin: 0px;
	border: none;
	text-align: left;
	width: 9em;

}
.popup ul li {
	display: block;
	position: auto;
	float: none;
	padding: 0px;
	padding-bottom: 1px;
	margin: 0px;
	border: none;
	text-align: left;
	width: 9em;
}
.popup ul li a {
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;
	color: #64a7c4;
}
.popup ul li a:hover {
	color: #3167b4;
	text-decoration: underline;
}
